@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

input[type="number"] {
  width: 40px;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
}

select{
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  background: none;
}

.unit-selector {
  border: 1px solid grey;
  border-radius: 5px;
  background: none;
  text-align: center;
}

td {
  border: 5px solid transparent;
}

code {
  display: block;
  font-family: monospace;
}

textarea {
  position: absolute;
  z-index: -10;
  left: -1000%;
}
body {
  font-family: system-ui;
  text-align: center;
}

button {
  font-family: system-ui;
  background: none;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 2px 8px;
  cursor: pointer;
  font-size: 18px;
  width: 5rem;
}
button:hover {
  font-weight: bolder;
}

#css-code {
  margin: 0 5vw 5vw 5vw;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;
  background: lavender;
  text-align: left;
}

#reset-all {
  width: 8rem;
  border: 1px black solid;
  padding: 4px;
  border-radius: 4px;
  margin: 20px;
}

#copy-code {
  position: absolute;
  top: 2px;
  right: 5vw;
  width: fit-content;
}
#sample-text {
  text-align: left;
  height: 200px;
  overflow: hidden;
  border: 1px solid gray;
  padding: 10px;
  margin: 20px;
}
table {
  margin: auto;
  width: 80%;
}

body > div > div {
  width: 50%;
}
@media (max-width: 600px) {
  body > div {
    flex-direction: column;
  }
  body > div > div {
    width: 100%;
  }
}
h1 {
  margin: 1.5rem;
  font-size: clamp(35px, 4vw, 45px);
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}
